@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


.panel-animation {
  overflow: hidden;
  max-height: 0px;
}

.panel-animation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 300ms ease;
}

.panel-animation.show {
  max-height: 100%;
}